{% extends "layout.html" %}

{% block content %}
<section class="w-full mx-auto mt-10 pt-10 container">
  <div class="bg-white shadow-md rounded px-8 pt-6 mb-4">
    <a class="mb-8 inline-block text-xs" href="/">&larr; Back</a>
    <p class="text-md inline-block">
      To complete this step you'll be redirected to <a class="text-blue-500 hover:text-blue-700" href="{{ pocketUrl }}">https://getpocket.com/auth/authorize</a> and will need to click "Authorise"
    </p>
    <div class="py-12 block">
      <a
        href="{{ pocketUrl }}"
        class="bg-red-500 hover:bg-red-700 text-white font-bold py-3 px-8 rounded focus:outline-none focus:shadow-outline"
      >
        Go
      </a>
    </div>
  </div>
</section>
{% endblock %}
