{% extends "layout.html" %}

{% block title %}Foo{% endblock %}
{% block description %}foo{% endblock %}

{% block content %}
<section class="w-full mx-auto mt-10 pt-10 container">
  <div class="bg-white shadow-md rounded px-8 pt-6 mb-4">
    <p class="text-md mb-4 inline-block">
      Access Token: <code>{{ accessToken }}</code>
    </p>
    <section>
      <label class="text-md font-normal mb-2 inline-block">Sample request</label>
      <pre><code>curl --request GET \
  --url https://getpocket.com/v3/get \
  --header 'content-type: application/json' \
  --data '{
	"consumer_key": "{{ consumerKey }}",
	"access_token": "{{ accessToken}}"
}'
        </code>
      </pre>
    </section>
  </div>
</section>
{% endblock %}
